@model String
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/Email.cshtml";
}

<div>
    @{
        var url = Request.Url.Scheme + "://" + Request.Url.Host + Url.Action("ResetPassword", "Login", new { id = Model });
    }

    To reset your password, please use the following link: <a href="@url">@url</a>
</div>
