@model AccountEditModel

@{
    ViewBag.Title = "Create Account";
    ViewBag.SubMenu = "CreateAccount";
}


<div class="center-container">
    <div class="container-pad">
        @Html.Partial("_AccountEdit", Model)
    </div>
</div>