@{
    ViewBag.Title = "Template";
}

<h1>h1. Heading 1</h1>
<h2>h2. Heading 2</h2>
<h3>h3. Heading 3</h3>
<h4>h4. Heading 4</h4>
<h5>h5. Heading 5</h5>
<h6>h6. Heading 6</h6>

<h1>Sections</h1>
<div class="section-container">
    <div class="section section-white">Section White</div>
    <div class="section section-light">Section Light</div>
    <div class="section section-dark">Section Dark</div>
</div>

<h1>Blocks</h1>
<div class=" block block-white">Block White</div>
<div class=" block block-light">Block Light</div>
<div class=" block block-black">Block Black</div>

<h1>Menu</h1>
<ul class="action-menu">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 2</a></li>
</ul>

<div class="section section-light">
    <h1>Panel</h1>
    <div class="panel-container">
        <div class="panel-title">
            Panel Title
        </div>
        <div class="panel-section">
            Panel Section
        </div>
        <div class="panel-section">
            Panel Section
        </div>
        <div class="panel-section">
            Panel Section
        </div>
        <div class="panel-section">
            Panel Section
        </div>
    </div>

    <div class="panel-container">
        <div class="panel-title">
            Panel Title
        </div>
        <div class="panel-section">
            Panel Section
        </div>
    </div>

    <div class="panel-container">
        <div class="panel-container-pad">
            Panel Container Pad
        </div>
    </div>
</div>