@{
    ViewBag.Title = "Add External Quote";
}

<div class="container-pad">
    <h2>Add External Quote</h2>
    @using (Html.BeginForm("AddExternalQuote", "NonSecure", FormMethod.Post))
    {
        <div class="control-group">
            <label class="control-label">QUOTEID</label>
            <div class="controls">
                <input name="QUOTEID"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">EST_MOVE_DAY</label>
            <div class="controls">
                <input name="EST_MOVE_DAY"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">EST_MOVE_DATE_YEAR</label>
            <div class="controls">
                <input name="EST_MOVE_DATE_YEAR"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">EST_MOVE_DATE_MONTH</label>
            <div class="controls">
                <input name="EST_MOVE_DATE_MONTH"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_FIRST_NAME</label>
            <div class="controls">
                <input name="CUST_FIRST_NAME"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_LAST_NAME</label>
            <div class="controls">
                <input name="CUST_LAST_NAME"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_PRIMARY_PHONE</label>
            <div class="controls">
                <input name="CUST_PRIMARY_PHONE"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_MOBILE_PHONE</label>
            <div class="controls">
                <input name="CUST_MOBILE_PHONE"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_FAX_PHONE</label>
            <div class="controls">
                <input name="CUST_FAX_PHONE"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_PRIMARY_EMAIL</label>
            <div class="controls">
                <input name="CUST_PRIMARY_EMAIL"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_COMPANY_NAME</label>
            <div class="controls">
                <input name="CUST_COMPANY_NAME"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CUST_BID_TYPE,</label>
            <div class="controls">
                <input name="CUST_BID_TYPE,"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">STOP1_ZIP</label>
            <div class="controls">
                <input name="STOP1_ZIP"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">STOP1_ACTBUILDING_TYPE</label>
            <div class="controls">
                <input name="STOP1_ACTBUILDING_TYPE"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">STOP4_ZIP</label>
            <div class="controls">
                <input name="STOP4_ZIP"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">STOP4_ACTBUILDING_TYPE</label>
            <div class="controls">
                <input name="STOP4_ACTBUILDING_TYPE"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">LEAD_ID</label>
            <div class="controls">
                <input name="LEAD_ID"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">advSource,</label>
            <div class="controls">
                <input name="advSource,"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">cust_notes</label>
            <div class="controls">
                <input name="cust_notes"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">InventoryMeta</label>
            <div class="controls">
                <input name="InventoryMeta"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">InventoryData</label>
            <div class="controls">
                <input name="InventoryData"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CustomInventoryMeta</label>
            <div class="controls">
                <input name="CustomInventoryMeta"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">CustomInventoryData</label>
            <div class="controls">
                <input name="CustomInventoryData"></input>
            </div>
        </div>
    }
</div>


