@using Business.Models
@model IEnumerable<Business.Models.aspnet_Roles>

@{
    ViewBag.Title = "User Profiles";
}

<div class="center-container">
    <div class="container-pad">
        <div>
            @Html.ActionLink("New User Profile", "NewUserProfile", new { Controller = "Admin" }, new { @class = "btn btn-primary" })
        </div>

        <table id="locations" class="table table-bordered table-striped table-hover" style="margin-top: 20px; margin-bottom: 20px; width: 100%; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(222, 222, 222)">
            <thead>
                <tr>
                    <th style="width: 30%;">
                        Profile Name
                    </th>
                    <th style="width: 50%;">
                        Available Permissions
                    </th>
                    <th style="width: 20%;">
                        User Source
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (aspnet_Roles item in Model)
                {
                    <tr>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
