@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/New/_Layout.cshtml";
}


<div id="page-wrapper" ng-controller="quoteHome as qhome" class="container">
    <div class="row">
        
        <div id="nav-col">
            <section id="col-left" class="col-left-nano">
                <div id="col-left-inner" class="col-left-nano-content">
                    <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                        <img alt="" src="~/static/img/logos/none.png" style="border-radius:0px">
                        <div class="user-box">
                            <span class="name" style="font-size:2em;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    New
                                   
                                </a>
                                
                            </span>
                            
                        </div>
                    </div>
                    <span style="margin-left:25px; font-size:1.5em; color:whitesmoke" ng-bind="customer.DisplayName"></span>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="nav-header nav-header-first hidden-sm hidden-xs">
                                Navigation
                            </li>
                          
                            <li>
                                <a href="#/contacts" ng-class="{'active': currentTab==0}" ng-click="currentTab=0">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Contacts</span>
                                    <span class="label label-primary label-circle pull-right"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#/stops" ng-class="{active: currentTab==1}" ng-click="currentTab=1">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Stops</span>
                                    <span class="label label-primary label-circle pull-right"></span>
                                </a>
                            </li>
                            <li ng-class="{active: currentTab==2}" ng-click="currentTab=2">
                                <a href="index.html">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Inventory</span>
                                    <span class="label label-primary label-circle pull-right">28</span>
                                </a>
                            </li>
                            <li ng-class="{active: currentTab==3}" ng-click="currentTab=3">
                                <a href="index.html">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Schedule</span>
                                    <span class="label label-primary label-circle pull-right">28</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </section>
            <div id="nav-col-submenu"></div>
        </div>


        <div id="content-wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <div class="slide-main-container">
                        <div ng-view class="slide-main-animation"></div>
                    </div>

                </div>
            </div>

            <div ng-include='"views/common/footer.html"'></div>
        </div>
    </div>





  


</div>