@{
    ViewBag.Title = "Quote";
    Layout = "~/Views/New/_Layout.cshtml";
}


<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<div id="page-wrapper" ng-controller="quoteHome" class="container">
    <div class="row">
        
        <div id="nav-col">
            <section id="col-left" class="col-left-nano">
                <div id="col-left-inner" class="col-left-nano-content">
                    <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                        <img alt="" src="{{selectedQuote.FranchiseLogo}}" style="border-radius:0px">
                        
                        <div class="user-box">
                            <span class="name" style="font-size:2em;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{selectedQuote.Lookup}}
                                   
                                </a>
                                
                            </span>
                            
                        </div>
                    </div>
                    <span style="margin-left:25px; font-size:1.5em; color:whitesmoke" ng-bind="selectedQuote.AccountName"></span>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="nav-header nav-header-first hidden-sm hidden-xs">
                                Navigation
                            </li>
                          
                            <li ng-class="{'active': currentTab==0}">
                                <a href="#/contacts" ng-click="currentTab=0">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Contacts</span>
                                    <span class="label label-primary label-circle pull-right"></span>
                                </a>
                            </li>
                            <li ng-class="{active: currentTab==1}">
                                <a href="#/stops" ng-click="currentTab=1">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Stops {{selectedQuote.Stops.length}}</span>
                                    <span class="label label-primary label-circle pull-right">{{selectedQuote.Stops.length}}</span>
                                </a>
                            </li>
                            <li  ng-class="{active: currentTab==2}" ng-click="currentTab=2">
                                <a href="#/inventory">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Inventory</span>
                                    <span class="label label-primary label-circle pull-right">28</span>
                                </a>
                            </li>
                            <li ng-class="{active: currentTab==3}" ng-click="currentTab=3">
                                <a href="#/schedule">
                                    <i class="fa fa-dashboard"></i>
                                    <span>Schedule</span>
                                    <span class="label label-primary label-circle pull-right">28</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </section>
            <div id="nav-col-submenu"></div>
        </div>


        <div id="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row ng-scope">
                        <div class="col-lg-2 col-sm-6 col-xs-12"  style="width:15%">
                            <div class="main-box infographic-box">
                             
                                <span class="headline"  style="text-align:center">Miles</span>
                                <span class="value"  style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                        {{QuoteQuickLook.TotalMiles}}
                                    </span>
                                   
                                </span>
                                <span class="label" style="text-align:center; color:black; font-size:0.7em;">
                                    Base : {{QuoteQuickLook.BaseMiles}} , Move : {{QuoteQuickLook.MoveMiles}}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-xs-12" style="width:15%">
                            <div class="main-box infographic-box">

                                <span class="headline" style="text-align:center">Peices</span>
                                <span class="value" style="font-size:1.5em;font-weight:400;text-align:center;" style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                       {{QuoteQuickLook.Furniture + QuoteQuickLook.Boxes}}
                                    </span>

                                </span>
                                <span class="label" style="text-align:center; color:black; font-size:0.7em;">
                                    Furniture : {{QuoteQuickLook.Furniture}} , Boxes : {{QuoteQuickLook.Boxes}}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-xs-12" style="width:15%">
                            <div class="main-box infographic-box">

                                <span class="headline" style="text-align:center">Cubic Feet</span>
                                <span class="value"  style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                      {{QuoteQuickLook.CubicFeet}}
                                    </span>

                                </span>
                                <span class="label" style="text-align:center; color:black; font-size:0.7em;">
                                    % Of Trucks :{{QuoteQuickLook.CubicFeet / SERVER.MAX_TRUCK_CUBICFEET * 100 }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-xs-12" style="width:15%">
                            <div class="main-box infographic-box">

                                <span class="headline" style="text-align:center">Pounds</span>
                                <span class="value"  style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                       {{QuoteQuickLook.TotalWeight}}
                                    </span>

                                </span>
                                <span class="label" style="text-align:center; color:black; font-size:0.7em;">
                                    % Of Capacity :{{QuoteQuickLook.TotalWeight / SERVER.MAX_TRUCK_Weight * 100 }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-xs-12" style="width:15%">
                            <div class="main-box infographic-box">

                                <span class="headline" style="text-align:center">Duration</span>
                                <span class="value" ng-if="QuoteQuickLook.IsHourly===true" style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                        {{ QuoteQuickLook.CustomerTimeEstimate }} {{ QuoteQuickLook.CustomerTimeEstimate > 1 ? "Hours" : "Hour" }}
                                    </span>

                                </span>
                                <span class="label" ng-if="QuoteQuickLook.IsHourly===true" style="text-align:center; color:black; font-size:0.7em;">
                                    Drive :{{ QuoteQuickLook.TotalDuration }}
                                </span>
                                <span class="value" ng-if="QuoteQuickLook.IsHourly===false" style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                        {{ QuoteQuickLook.TotalDuration }}
                                    </span>

                                </span>
                                <span class="label" ng-if="QuoteQuickLook.IsHourly===fasle" style="text-align:center; color:black; font-size:0.7em;">
                                    Labour  :{{ QuoteQuickLook.LaborDuration }} Drive  :{{ QuoteQuickLook.DriveDuration }}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 col-xs-12" style="width:15%">
                            <div class="main-box infographic-box">

                                <span class="headline" style="text-align:center">Price</span>
                                <span ng-if="QuoteQuickLook.FinalPostedPrice!=null" class="value" style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                        {{QuoteQuickLook.FinalPostedPrice | currency}}
                                    </span>

                                </span>
                                <span ng-if="QuoteQuickLook.FinalPostedPrice!=null" class="label" style="text-align:center; color:black;  font-size:0.7em;">
                                    Owes :{{ QuoteQuickLook.Balance | currency }}
                                </span>
                                <span ng-if="QuoteQuickLook.FinalPostedPrice==null" class="value" style="font-size:1.5em;font-weight:400;text-align:center;">
                                    <span>
                                       {{QuoteQuickLook.FinalPrice | currency}}
                                    </span>

                                </span>
                                <span ng-if="QuoteQuickLook.FinalPostedPrice==null" class="label" style="text-align:center; color:black;  font-size:0.7em;">
                                    Original:{{ QuoteQuickLook.OriginalPrice | currency }} {{ QuoteQuickLook.Discount }}% 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="slide-main-container">
                        <div ng-view class="slide-main-animation"></div>
                    </div>

                </div>
            </div>

            <div ng-include='"views/common/footer.html"'></div>
        </div>
    </div>





  


</div>