@{
    Layout = "~/Views/Shared/Base.cshtml";
    ViewBag.Title = "Invalid Browser";
}

<div class="box" id="login-box">
    <h4>Unsupported Browser</h4>
    <p>
        Sorry...your browser isn't supported. Please download <a href="https://www.google.com/intl/en/chrome/">Google Chrome</a>.
    </p>
</div>

