@{
    ViewBag.Title = "Error";
    Layout = Layout = "~/Views/Shared/Public.cshtml";
}

<div class="container-pad">
    @Html.Image("~/static/img/headerLogoSmall.png", "Moovers Moving and Storage")
    <div style="margin-top: 1em;">
        <div style="margin-top: 1em;">
            <h5>Error</h5>
            <div style="margin-top: 1em;">
                <p>
                    There was an error processing your request...sorry! It's been reported to our support staff, in the meantime, you might try 
                    <a href="javascript:window.history.go(-1);">going back</a> and trying again.
                </p>
                <p> 
                    If you keep having problems, contact us at <a href="mailto:support@1800moovers.com">support@1800moovers.com</a>.
                </p>
            </div>
        </div>
    </div>
</div>