

<div class="row" style="opacity: 1;" ng-controller="manageQuoteContact">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Quote</a></li>
                    
                    <li class="active"><span>Contacts</span></li>
                </ol>
                <h1>Primary Contact</h1>
            </div>
        </div>
       
        <div class="row" id="user-profile">
           
            <div class="col-lg-12 col-md-7 col-sm-7">
                <div class="main-box clearfix">
                    <div id="newsfeed">

                        <h2 style="font-size:1.5em;font-weight:bold; margin-left:20px; margin-top:20px">{{selectedCustomer.DisplayName}}</h2> <span style="margin-left:20px;">{{selectedCustomer.Type}}</span>
                        <hr/>
                        <div class="story" style="padding-top:0px">
                            <dl class="dl-horizontal">
                                <dt style="text-align:left">Email</dt>
                                <dd style="margin-left:0px">{{selectedCustomer.PrimaryEmail}} {{selectedCustomer.SecondaryEmail}}</dd>
                                <dt style="text-align:left">Primary Phone</dt>
                                <dd style="margin-left:0px">{{selectedCustomer.PrimaryPhone.Display}}</dd>
                                <dt style="text-align:left">Secondary Phone</dt>
                            
                                <dd style="margin-left:0px">{{selectedCustomer.SecondaryPhone.Display}}</dd>
                                <dt style="text-align:left">Fax</dt>
                                <dd style="margin-left:0px">{{selectedCustomer.Fax}}</dd>
                                <dt style="text-align:left">Billing Address</dt>
                                <dd style="margin-left:0px">
                                   {{selectedCustomer.BillingAddress.DisplayAddress}}
                                </dd>
                                <dt style="text-align:left">Mailing Address</dt>
                                <dd style="margin-left:0px">
                                    {{selectedCustomer.MailingAddress.DisplayAddress}}
                                </dd>
                            </dl>
                        </div>
                      
                       
                    </div>
                </div>
            </div>
        </div>
        
        <h1>Shipper</h1>
        <div ng-if="selectedCustomer.AccountId!=selectedCustomer.ShipperId" class="row" id="user-profile">

            <div class="col-lg-12 col-md-7 col-sm-7">
                <div class="main-box clearfix">
                    <div id="newsfeed">

                        <h2 style="font-size:1.5em;font-weight:bold; margin-left:20px; margin-top:20px">{{shipper.DisplayName}}</h2> <span style="margin-left:20px;">{{shipper.Type}}</span>
                        <hr />
                        <div class="story" style="padding-top:0px">
                            <dl class="dl-horizontal">
                                <dt style="text-align:left">Email</dt>
                                <dd style="margin-left:0px">{{shipper.PrimaryEmail}} {{shipper.SecondaryEmail}}</dd>
                                <dt style="text-align:left">Primary Phone</dt>
                                <dd style="margin-left:0px">{{shipper.PrimaryPhone.Display}}</dd>
                                <dt style="text-align:left">Secondary Phone</dt>

                                <dd style="margin-left:0px">{{shipper.SecondaryPhone.Display}}</dd>
                                <dt style="text-align:left">Fax</dt>
                                <dd style="margin-left:0px">{{shipper.Fax}}</dd>
                                <dt style="text-align:left">Billing Address</dt>
                                <dd style="margin-left:0px">
                                    {{shipper.BillingAddress.DisplayAddress}}
                                </dd>
                                <dt style="text-align:left">Mailing Address</dt>
                                <dd style="margin-left:0px">
                                    {{shipper.MailingAddress.DisplayAddress}}
                                </dd>
                            </dl>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row main-box clearfix">
            <div class="col-lg-7 center-block alert alert-info fade in pull-left" style="margin-left:20px; margin-top:15px;">

                <i class="fa fa-info-circle fa-fw fa-lg"></i>
                <strong>Shipper is same as primary account!</strong> Use this button to add new shipper.
                &nbsp;  &nbsp; <span class="label label-danger" ng-if="selectedCustomer.AccountId==selectedCustomer.ShipperId" data-modal="modal-quote" onclick="OpenDialogT('modal-quote');">Add Shipper</span></dt>

            </div>
        </div>
         </div>
</div>
