

<div ng-controller="managePricing">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Quote</a></li>
                <li class="active"><span>Pricing</span></li>
            </ol>
            <div class="pull-left">
                <h1>Manage Pricing</h1>
            </div>



        </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">


                    <h2 class="heading" style="font-weight: bold;">Guranteed Price</h2>
                </header>
                <div class="col-lg-12">

                    <div id="invoice-companies" class="row">
                        <div class="col-sm-4 invoice-box">

                            <div class="col-sm-12 invoice-company">
                                
                                <h4>No. Of Trucks</h4>
                                <div class="pull-left ">
                                   
                                    <p>Minimum</p>
                                    <p>Recommended</p>
                                    <p>Scheduled</p>
                                </div>
                                <div class="pull-right">
                                    <!--<p style="position: relative;top: -10px">
                                            <i class="fa fa-truck"></i>
                                        </p>-->
                                    <p ng-bind="PricingDetails.MinTrucks"></p>
                                    
                                    <p ng-bind="PricingDetails.RecommendedTrucks"></p>
                                    <select class="form-control" style="width: 70px" ng-model="PricingDetails.QuotePriceDetails.PricingTrucks">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 invoice-box">
                            <div class="invoice-icon hidden-sm">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="col-sm-8 invoice-company">
                                <h4>Crew Size</h4>
                                <div class="pull-left">
                                    <p>Minimum</p>
                                    <p>Recommended</p>
                                    <br />
                                    <br />
                                </div>
                                <div class="pull-right">
                                    <p ng-bind="PricingDetails.MinCrew"></p>
                                    <p ng-bind="PricingDetails.RecommendedCrew"></p>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 invoice-box invoice-box-dates">
                            <div class="invoice-dates">
                                <div class="invoice-number clearfix">
                                    <strong>Estimated Of Time</strong>

                                    <span class="pull-right" style="font-size: 22px;top:5px;position: relative" ng-bind="PricingDetails.QuotePriceDetails.TotalTime">20140566</span>


                                </div>
                                <div class="invoice-date clearfix">
                                    <strong>Guaranteed Price:</strong>

                                    <span class="pull-right" >${{PricingDetails.QuotePriceDetails.GuaranteedPrice}}</span>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-12">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">Move Price</p>
                                </td>
                                <td>
                                    <p class="pull-right" >${{PricingDetails.QuotePriceDetails.GuaranteedPrice}}</p>

                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px"> Discount Coupon / Voucher</p>
                                </td>
                                <td>
                                    <input class="pull-right form-control" type="text" style="width: 100px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="font-size: 14px" class="form-inline">
                                        <span>Adjustment %</span><input type="text" ng-model="discountP | number : 2" ng-blur="SetDiscountPriority('percent',discountP)" style="width: 100px" class="form-control" />
                                    </div>
                                </td>
                                <td>
                                    <input class="pull-right form-control" type="text" style="width: 100px" placeholder="$" ng-model="discountV" ng-blur="SetDiscountPriority('value',discountV)" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">  Valuation Coverage</p>
                                </td>
                                <td>
                                    <select class="pull-right form-control" style="width:250px" ng-model="valuationID" ng-change="ChangeValuation()">


                                        <option ng-repeat="item in PricingDetails.ReplacementValuationOptionsGuaranteed" ng-selected="($index==1)" value="{{item.ValuationTypeID}}"> {{item.Name}} ({{item.DisplayCost}})</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">   Total Move Cost</p>
                                </td>
                                <td>
                                    <p class="pull-right" >${{PricingDetails.QuotePriceDetails.GuaranteeData.GuaranteedPriceDiscount}}</p>

                                </td>
                            </tr>
                        </tbody>



                    </table>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">

                        <button class="btn btn-primary" ng-click="SaveGuranteed()">Save Changes</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </div>
    
    
    
    
    
    
    <div class="row">

        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">


                    <h2 class="heading" style="font-weight: bold;">Hourly Price</h2>
                </header>
                <div class="col-lg-12">

                    <div id="invoice-companies" class="row">
                        <div class="col-sm-4 invoice-box">
                            <div class="col-sm-4 invoice-icon hidden-sm">
                                <i class="fa fa-truck"></i>
                            </div>
                            <div class="invoice-company">

                                <h4>No. Of Trucks</h4>
                                <select class="form-control" ng-model="PricingDetails.QuotePriceDetails.Trucks" ng-change="HourlyTruckChange()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>



                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4 invoice-box">
                            <div class="col-sm-2 invoice-icon hidden-sm">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="col-sm-8 invoice-company">
                                <h4>Crew Size</h4>
                                <select class="form-control" ng-model="PricingDetails.QuotePriceDetails.CrewSize" ng-change="HourlyCrewChange()">

                                    <option ng-repeat="ar in crewArray" ng-selected="(ar==PricingDetails.QuotePriceDetails.CrewSize)" value="{{ar}}">{{ar}}</option>

                                </select>
                                <div class="pull-left">
                                    <p>First Hour</p>
                                    <p>Extra Hours</p>
                                    
                                </div>
                                <div class="pull-right">
                                    <p ng-bind="firstHour">$160</p>
                                    <p ng-bind="extraHours">$85</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 invoice-box invoice-box-dates">
                            <div class="invoice-dates">
                                <div class="invoice-number clearfix">
                                    <h4>Customer's Estimated Of Time</h4>
                                    

                                    <select class="form-control" ng-model="PricingDetails.QuotePriceDetails.HourlyData.CustomerTimeEstimate" ng-change="HourlyEstimatedChange()">
                                        <option value="1">1 Hour</option>
                                        <option value="2">2 Hours</option>
                                        <option value="3">3 Hours</option>
                                        <option value="4">4 Hours</option>
                                        <option value="5">5 Hours</option>
                                        <option value="6">6 Hours</option>
                                        <option value="7">7 Hours</option>
                                        <option value="8">8 Hours</option>
                                        <option value="9">9 Hours</option>
                                        <option value="10">10 Hours</option>
                                        <option value="11">11 Hours</option>
                                        <option value="12">12 Hours</option>
                                        <option value="13">13 Hours</option>
                                        <option value="14">14 Hours</option>
                                        <option value="15">15 Hours</option>
                                        <option value="16">16 Hours</option>
                                        <option value="17">17 Hours</option>
                                        <option value="18">18 Hours</option>
                                        <option value="19">19 Hours</option>
                                        <option value="20">20 Hours</option>
                                        <option value="21">21 Hours</option>
                                        <option value="22">22 Hours</option>
                                        <option value="23">23 Hours</option>
                                        <option value="24">24 Hours</option>
                                        <option value="25">25 Hours</option>
                                    </select>


                                </div>
                                <div class="invoice-date clearfix">
                                    <strong>Estimated Price:</strong>

                                    <span class="pull-right" ng-bind="estimatedHourlyPrice"></span>
                                    
                                </div>

                            </div>
                        </div>
                    </div>



                </div>

                <div class="col-lg-12">
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">Move Price</p>
                                </td>
                                <td>
                                    <p class="pull-right" ng-bind="firstHourLinePrice"></p>
                                    
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    
                                </td>
                                <td>
                                    <p class="pull-right" ng-bind="hourlyLinePrice"></p>

                                </td>
                            </tr>
                            

                            <tr>
                                <td>
                                    <p style="font-size: 14px">Additional Fee Price</p>
                                </td>
                                <td>
                                    <input class="form-control pull-right" style="width: 100px" ng-model="additionalFee" ng-change="CalculateHourly()" />
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">Estimated Total</p>
                                </td>
                                <td>
                                    <p class="pull-right" ng-bind="hourlyLinePrice"></p>

                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <p style="font-size: 14px">Total Move Cost</p>
                                </td>
                                <td>
                                    <p class="pull-right" ng-bind="estimatedTotal"></p>

                                </td>


                            </tr>
                         
                        </tbody>



                    </table>
                </div>
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="SaveHourly()">Save Changes</button>
                        
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </div>






    
</div>


