

<div ng-controller="manageSchedule">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Quote</a></li>
                <li class="active"><span>Schedule</span></li>
            </ol>
            <div class="pull-left">
                <h1>Manage Schedules</h1>
            </div>



        </div>
    </div>

    <div class="row" ng-show="scheduleDay===false">

        <div class="col-lg-12">

            <div style="border:1px solid red">
                <div id="calendar" class="fc fc-ltr">
                    
                </div>
            </div>
        </div>

    </div>


    <div class="row" ng-show="scheduleDay===true">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <header class="main-box-header clearfix">
                    <h2>Schedule</h2>
                </header>
                <div class="main-box-body clearfix">
                    <div class="col-lg-12">
                        <div class="main-box clearfix">
                            <header class="main-box-header clearfix">
                                
                                <div class="pull-left">
                                    <h2>
                                        Scheduled Jobs For  {{selectedDate}}/{{selectedMonth }}/{{selectedYear}}
                                    </h2>    
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="scheduleDay=false">Back</button>
                                </div>
                                
                            </header>
                            <div class="main-box-body clearfix">
                                <div ng-repeat="crew in scheduleForQuote.Crews" ng-hide="(crew > scheduleForQuote.MaxCrewToDisplay) &&(scheduleForQuote.Crews[$index].Schedules.length>0)&&(scheduleForQuote.Crews[$index].CrewDetail.ID!=null)">
                                    <table class="table user-list table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width: 350px">
                                                    <span ng-show="scheduleForQuote.Crews[$index].Number===0">Move Pool </span>
                                                    <span ng-show="scheduleForQuote.Crews[$index].Number>0">
                                                        Crew {{scheduleForQuote.Crews[$index].Number}}
                                                    </span>

                                                    <span ng-repeat="emp in scheduleForQuote.Crews[$index].CrewDetail.GetEmployees" ng-if="scheduleForQuote.Crews[$index].CrewDetail!=null">
                                                        <span style="font-size: 12px;font-weight: normal" ng-bind="emp.NameLast"></span>
                                                    </span>
                                                    <span ng-if="scheduleForQuote.Crews[$index].Number!=0">
                                                        
                                                        <select style="width:100px" ng-model="scheduleForQuote.Crews[$index].Status" class="pull-right">

                                                            <option value="Default" class="active">-- status --</option>
                                                            <option value="OutOfTown">Out of Town</option>
                                                            <option value="CleanUp">Clean Up</option>
                                                            <option value="Van">Van</option>
                                                            <option value="Pickup">Pickup</option>
                                                            <option value="Delivery">Delivery</option>
                                                            <option value="Unavailable">Unavailable</option>


                                                        </select>
                                                    </span>




                                                </th>
                                                <th><span>Arrival</span></th>
                                                <th class="text-center">Price : <span ng-bind="scheduleForQuote.Crews[$index].SchedulesPricePerTruck | currency : '$': '2'"></span></th>
                                                <th class="text-center"><span>Origin / Destination</span></th>
                                                <th class="text-center">

                                                    <span ng-show="scheduleForQuote.Crews[$index].Number!=0">
                                                        <span>
                                                            <span class="emp-holder">
                                                                <span ng-show="scheduleForQuote.Crews[$index].CrewDetail!=null">

                                                                    <span ng-repeat="empl in scheduleForQuote.Crews[$index].CrewDetail.GetEmployees" class="spacer text-norm cursor-default" title="{{empl.Employee.DisplayName - empl.Employee.DisplayNumber}}" data-employeeid="{{empl.Employee.ID}}" data-isdriver="{{empl.Employee.IsDriver}}">
                                                                        <span class="noprint nowrap inline">
                                                                            {{empl.Employee.Lookup}}
                                                                            <i class="icon-user" ng-class="{'driver': empl.IsDriver}"></i>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <span class="printonly"></span>
                                                            <span class="vehicle-holder">
                                                                <span ng-show="scheduleForQuote.Crews[$index].CrewDetail!=null">
                                                                    <span ng-repeat="veh in scheduleForQuote.Crews[$index].CrewDetail.GetVehicles" class="spacer text-norm nowrap inline" title="veh.Name" data-vehicleid="veh.ID">
                                                                        {{veh.Lookup }}
                                                                        <i class="fa fa-truck"></i>
                                                                    </span>

                                                                </span>

                                                            </span>




                                                        </span>


                                                        <a href="#" ng-show="scheduleForQuote.Quote.QuoteID!=null" class="btn btn-mini btn-assign noprint no-mobile">Assign Staff</a>
                                                        <span class="label label-danger" ng-click="OpenSchedule($index)" onclick="OpenDialogT('modal-14');">Schedule Job</span>

                                                       <!-- <a style="font-style: italic;" ng-click="OpenSchedule($index)" onclick="OpenDialogT('modal-14')">Schedule Job</a>-->
                                                        
                                                    </span>


                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sc in scheduleForQuote.Crews[$index].Schedules" >

                                                <td class="success">{{sc.CustomerName }}-({{sc.QuoteNumber}})</td>
                                                <td>
                                                    {{sc.StartTime}} - {{sc.EndTime}}
                                                </td>
                                                <td style="text-align: center">{{sc.PricePerTruck | currency : '$' : 2}}</td>
                                                <td class="danger" style="width: 200px">{{sc.Origin}} <br />{{sc.Destination}}</td>
                                                <td></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div>
        <div class="md-modal md-effect-14" id="modal-14">
            <div class="md-content">
                <div class="modal-header">
                    <button class="md-close close">×</button>
                    <h4 class="modal-title">Schedule</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class=" ng-pristine ng-valid">
                        <div class="form-inline">
                            <label for="start">Arrival Window :</label>
                            <select class="form-control" ng-model="rangestart" id="start">
                                <option value="5">5:00AM</option>
                                <option value="6">6:00AM</option>
                                <option value="7">7:00AM</option>
                                <option value="8">8:00AM</option>
                                <option value="9">9:00AM</option>
                                <option value="10">10:00AM</option>
                                <option value="11">11:00AM</option>
                                <option value="12">12:00AM</option>
                                <option value="13">1:00PM</option>
                                <option value="14">2:00PM</option>
                                <option value="15">3:00PM</option>
                                <option value="16">4:00PM</option>
                                <option value="17">5:00PM</option>
                                <option value="18">6:00PM</option>
                                <option value="19">7:00PM</option>
                                <option value="20">8:00PM</option>
                            </select> -
                            <select class="form-control" ng-model="rangeend">
                                <option value="5">5:00AM</option>
                                <option value="6">6:00AM</option>
                                <option value="7">7:00AM</option>
                                <option value="8">8:00AM</option>
                                <option value="9">9:00AM</option>
                                <option value="10">10:00AM</option>
                                <option value="11">11:00AM</option>
                                <option value="12">12:00AM</option>
                                <option value="13">1:00PM</option>
                                <option value="14">2:00PM</option>
                                <option value="15">3:00PM</option>
                                <option value="16">4:00PM</option>
                                <option value="17">5:00PM</option>
                                <option value="18">6:00PM</option>
                                <option value="19">7:00PM</option>
                                <option value="20">8:00PM</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Payment System</label>
                            <div class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="scheduleQuote.HasCard" value="true" checked="">
                                <label for="optionsRadios1">
                                    Existing Credit Card
                                </label>
                            </div>
                            <div class="radio">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="scheduleQuote.HasCard" value="false">
                                <label for="optionsRadios2">
                                    New Credit Card
                                </label>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="ScheduleQuote()" onclick="CloseDialogT('modal-14')">Save</button>
                </div>
            </div>
        </div>
    </div>





    <div class="md-overlay"></div>
</div>
<script type="text/javascript">
    $('.fc-header-right').css({ 'vertical-align': "middle" });
</script>