<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
      <add key="IsDevelopment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AbsoluteUrl" value="http://crm.1800moovers.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="MooversConnectionString" connectionString="server=localhost;database=MooversCRM;uid=moovers_db;password=pW??Ln36;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="MooversCRMEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MooversCRM;user id=moovers_db;password=pW??Ln36;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
    <system.serviceModel>
        <client>
            <endpoint address="https://api.globalgatewaye4.firstdata.com/transaction/v11" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="FirstData.ServiceSoap" name="ServiceSoap"
                xdt:Transform="SetAttributes" xdt:Locator="Match(contract)" />
            <!--<endpoint address="https://api.globalgatewaye4.firstdata.com/transaction/v11"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="FirstData.ServiceSoap" name="ServiceSoap" />-->
        </client>
    </system.serviceModel>

</configuration>