@model Business.ViewModels.EmailModel
@{
    ViewBag.Title = "Generic Marketing EMail";
    Layout = "~/Views/Shared/Email.cshtml";
    var email = Model.To.Replace(".", "~");
}

@section HeaderMessage {
    @RenderSection("HeaderMessage", false)
}

@RenderBody()

@section UnsubscribeContent
{
    Don't want us to email you anymore?
    <a href="http://confirm.1800moovers.com/unsubscribe/@email">
        Click here to unsubscribe
    </a>
}