@model Business.ViewModels.EmailModel
@{
    ViewBag.Title = "LeadGeneration";
    Layout = "~/Views/Shared/Emails/_MarketingEmail.cshtml";
}

<div style="list-style-type: none; line-height: 1.4em; margin: 0 0 20px; padding: 0; font-size: 12px; color: #333333;">
    <p>
        Dear @Model.Account.DisplayName,
    </p>
    <p>
    Thank You for visiting our web site and requesting a quote. We’ll be in touch with you shortly to give you your free moving estimate!
    </p>
    Sincerely,<br />
    @Model.AccountManager.DisplayName()<br />
    <a href="mailto:@Model.AccountManager.aspnet_Users.aspnet_Membership.Email">@Model.AccountManager.aspnet_Users.aspnet_Membership.Email</a><br />
    <a href="http://www.1800moovers.com">http://www.1800moovers.com</a>
</div>

@Html.Partial("Emails/_EmailContactFooter", Model)