<div id="quote-coordinators" class="container-transparent">
    <span class="title title2">
        Add Person Account <span class="subtitle">Who is coordinating the move?</span>
    </span>
    <div class="quote-contacts">
        <div class="contact">
            <div class="primary-contact">
                Account Information
            </div>
            <div class="contact-details">
                <div class="name">
                    <input placeholder="First Name" />
                    <input placeholder="Last Name" />
                </div>
                <div class="contact-title">
                    Contacts
                </div>
                <div class="contact-info">
                    <div>
                        <span style="width:150px" class="heading">Primary Phone</span><input placeholder="Primary Phone" /><input placeholder="Ext." style="width:100px" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">Secondary Phone</span><input placeholder="Secondary Phone" /><input placeholder="Ext." style="width:100px" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">Fax </span><input placeholder="Fax" /><input placeholder="Ext." style="width:100px" />
                    </div>

                    <br />
                    <div>
                        <span style="width:150px" class="heading">Primary Email</span><input placeholder="" /><input placeholder="Ext." style="width:100px" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">Secondary Email</span><input placeholder="" /><input placeholder="Ext." style="width:100px" />
                    </div>
                </div>
                <div class="contact-title">
                    Mailing Address
                </div>
                <div class="contact-info">
                    <div>
                        <span style="width:150px" class="heading">Street</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">Apt</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">City</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">State</span><input placeholder="" />
                    </div>
                    <br /><div>
                        <span style="width:150px" class="heading">Zip</span><input placeholder="" />
                    </div>

                </div>
                <div class="contact-title">
                    Shipping Address
                </div>
                <div class="contact-info">
                    <div>
                        <span style="width:150px" class="heading">Street</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">Apt</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">City</span><input placeholder="" />
                    </div>
                    <br />
                    <div>
                        <span style="width:150px" class="heading">State</span><input placeholder="" />
                    </div>
                    <br /><div>
                        <span style="width:150px" class="heading">Zip</span><input placeholder="" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>