@{
    ViewBag.Title = "_FranchiseSelector";
    var franchises = (IEnumerable<Business.Models.Franchise>)ViewBag.AllFranchises;
}


@if (ViewBag.HasMultipleFranchises)
{
    <a href="#" id="franchise-toggle">Change Franchise</a>
    <div style="display: none" id="franchise-container">
        @using (Html.BeginForm("SetFranchiseID", "Home"))
        {
            <input type="hidden" name="redirect" value="@Request.RawUrl" />
            @Html.DropDownList("franchiseid", franchises.Select(i => new SelectListItem() {
                Value = i.FranchiseID.ToString(),
                Text = i.Name,
                Selected = i.FranchiseID == ViewBag.SessionFranchiseID
            }))
            <button id="franchisesubmitbtn" style="display: none;" type="submit" class="btn">Change</button>
        }
    </div>
}

<script type="text/javascript">
    $(function() {
        $("#franchise-toggle").click(function() {
            $("#franchise-container").toggle();
        });

        $("#franchiseid").change(function () {
            $("#franchisesubmitbtn").click();
        });
    });
</script>