<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <appSettings>
        <add key="IsDevelopment" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="IsBeta" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />  
        <add key="AbsoluteUrl" value="http://beta.crm.1800moovers.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <connectionStrings>
        <add name="MooversConnectionString" connectionString="server=localhost;database=MooversCRMBeta;uid=moovers_beta;password=mewEwa2a;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <add name="MooversCRMEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MooversCRMBeta;user id=moovers_beta;password=mewEwa2a;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <system.serviceModel>
        <client>
            <endpoint address="https://api.demo.globalgatewaye4.firstdata.com/transaction/v11" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="FirstData.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>