<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
    <appSettings>
        <add key="FilePath" value="C:/files" />
    </appSettings>
  <connectionStrings>
      <add name="MooversConnectionString" connectionString="server=localhost\sqlexpress3;database=MooversCRMDev;Integrated Security=true" providerName="System.Data.SqlClient" />
      <add name="MooversCRMEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress3;initial catalog=MooversCRMDev;Integrated Security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.demo.globalgatewaye4.firstdata.com/transaction/v11" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="FirstData.ServiceSoap" name="ServiceSoap" />
            <!--<endpoint address="https://api.globalgatewaye4.firstdata.com/transaction/v11"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="FirstData.ServiceSoap" name="ServiceSoap" />-->
        </client>
    </system.serviceModel>
</configuration>